/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

/* пропустил  в sass*/
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/


body {
    font-family: sans-serif;
    font-size: 25px;
    color: #000;
    background-color: #f9f9f9;

}



.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    /*  ----  делаем флекс  */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.page {
    flex: 1 1 auto;
    /* прибиваем футер к низу */
}

[class*="__container"] {
    max-width: 700px;
    /*  добавляем 30 пикселей  два по 15 к основному размеру из за пад 15 рх*/
    margin: 0 auto;
    padding: 0 15px;
    /* -- добавляем 15 пик чтобы не прилипал контент - адаптация  */
}

/* -------------- header------------- */
.header {}

.header__container {
    padding: 25px 0;
}

.header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

/* --------------- main block --------------- */
.page__main-block {}

.main-block {}

.main-block__container {}

.main-block__body {

}

.main-block__pic {
    position: relative;
    padding-bottom: 65%;

}

.main-block__pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
   box-shadow: 5px 5px 15px #b1aeae;
   border-radius: 10px;
}

/* ----------- btn ----------- */
.page__btn {
    padding-top: 25px;
}

.btn {
    display: flex;
    justify-content: center;
}
.btn button {
    font-size: 16px;
    line-height: 1;
    background-color: #c4c0c0;
    padding: 5px 15px 3px;
    transition: background-color 0.3s ease 0s;
    text-transform: uppercase;
}
.btn button:hover {
    background-color: #b1aeae;
}